
# xplrcs.conf - Configuration file
#
#
# General Section
#
[general]
#
# For this section, the defaults are shown commented out
#
# Path to com device with RC65 thermostat connected to it. Udev or /dev/serial should be used to ensure the the com port device name
# remains the same across power cycles.
#
#com-port = /dev/tty-hvac
#
# Path to debug file when daemonized. No debug file is specified by default
#
#debug-file =
#
# The pid file is used to detect other instances of the program running and abort if that is the case. If running as non-root
# or have multiple instances of xplrcs attached to separate serial busses, you'll need to
# specify a different writable directory where the pid file can be stored.
#
#pid-file = /var/run/xplrcs.pid 
#
# The instance-id us used to distinguish this gateway from any other running on the network. 
# If you have multiple thermostats on separate serial busses, a separate instance of xplrcs will need to be
# run for each of them.
#
#instance-id = hvac
#
# The interface option is used when the gateway is running on a system with multiple network adapters
# No interface is specified by default. Most setups will not need to specify this.
#
#interface =
#
#
# The poll rate specifies the number of seconds between polls of thermostats attached to the serial port
# polling is done in a round robin fashion. The duration of a complete polling cycle is the number of thermostats multiplied
# by this value.
#
#poll-rate = 5
#
# The zone list is specified here. At least one zone list is mandatory. Multiple zones are separated with commas.
#
zones = thermostat
#
# End of General Section
#

#
# Zones are sections which stand by themselves and are listed in the general section above under the zones key.
#
# One default zone with the name 'thermostat' is defined below. An address key specifies its address on the
# RS-485 bus.

[thermostat]
address = 1


